body {
  margin: 0;
  font-family: 'Roboto', 'Segoe UI', 'Oxygen', sans-serif;
  box-sizing: border-box;
  background-color: #ffffff;
  color: black;
  padding: 0 24;
}

:root {
  --pepper: #992526;
  --lightText: #f1fcff;
  --secondary: #cae0e3;
  --darkText: #0a0a4a;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 56px;
}

h3 {
  font-size: 32px;
}

p {
  font-size: 16px;
}
