body {
  margin: 0;
  font-family: 'Roboto', 'Segoe UI', 'Oxygen', sans-serif;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #2d1a1a;
  padding: 0 24;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 56px;
}

h3 {
  font-size: 44px;
}

p {
  font-size: 16px;
}
